@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

a {
	color: white;
	text-decoration: underline;
	text-underline-offset: 2px;
}

a:hover {
	text-decoration: none;
}

.link-active {
	text-decoration: none;
	font-weight: 700;
}

.gradient {
	background: linear-gradient(90deg, theme('colors.da-blue') 0%, theme('colors.da-blue-darken') 100%);
}

.gradient-orange {
	background: linear-gradient(135.16deg, theme('colors.da-orange-darken') 0%, theme('colors.da-orange') 100%);
}
 
.da-hero {
	height: 70vh;
	background-image: url('./img/hero.jpg');
}

.da-card-occasions {
	background-image: url('./img/services/occasions.jpg');
}

.da-card-apk {
	background-image: url('./img/services/apk.jpg');
}

.da-card-airco {
	background-image: url('./img/services/airco.jpg');
}

.da-card-onderhoud {
	background-image: url('./img/services/onderhoud.jpg');
}

.da-card-merken {
	background-image: url('./img/services/merken.jpg');
}

.da-card-banden {
	background-image: url('./img/services/banden.jpg');
}

.da-card-oldtimers {
	background-image: url('./img/services/oldtimers.jpg');
}

.da-card-meedenken {
	background-image: url('./img/services/meedenken.jpg');
}

.da-card-revisie {
	background-image: url('./img/services/revisie.jpg');
}

.da-card-klachten {
	background-image: url('./img/services/klachten.jpg');
}

.da-gallery-action {
	background-image: url('./img/porsche/action.jpg');
}

.da-gallery-blok {
	background-image: url('./img/porsche/blok.jpg');
}

.da-gallery-magazijn {
	background-image: url('./img/porsche/magazijn.jpg');
}
